# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\real_enterprise\CSC8104-Quarkus-1.0.0 (1)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
